[submodule "components/orchestrator"]
	path = components/orchestrator
	url = https://github.com/pyx-industries/julee-orchestrator.git
[submodule "components/knowledge-service"]
	path = components/knowledge-service
	url = https://github.com/pyx-industries/julee-knowledge-service.git
[submodule "components/action-service"]
	path = components/action-service
	url = https://github.com/pyx-industries/julee-action-service.git
[submodule "components/policy-service"]
	path = components/policy-service
	url = https://github.com/pyx-industries/julee-policy-service.git
